* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --primary: #E2EFF1;
  --secondary: #e2f1f0;
  --accent: #D8C4B6;
  --text: #213555;
}

html,
body {
  background-color: var(--primary);
  color: var(--text);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.6;
  font-size: 16px;
}

header {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 8px 32px 0 #00000024; */
  border-radius: 10px;
  padding: 10px 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 70px;
  position: fixed;
  width: calc(100vw - 140px);
  z-index: 100;
}

a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: #fff;
}

.logo {
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  color: var(--text);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

nav a {
  color: var(--text);
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  transition: color 0.3s;
}

nav a:hover {
  font-weight: bolder;
  color: #690B22;
}

.btn {
  background: var(--text);
  border: none;
  padding: 15px;
  border-radius: 10px;
  color: var(--secondary);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #690B22;
}

.mobile-menu {
  display: none;
}

.menu-toggle {
  display: none;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.menu-toggle span {
  position: absolute;
  height: 1.5px;
  font-weight: bolder;
  width: 100%;
  background: var(--text);
  border-radius: 2px;
  transition: 0.4s ease;
}

.menu-toggle span:nth-child(1) {
  top: 0;
}

.menu-toggle span:nth-child(2) {
  top: 10px;
}

.menu-toggle span:nth-child(3) {
  top: 20px;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

/* Main sections */
.hero {
  position: relative;
  top: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tagline {
  display: inline-block;
  padding: 6px 12px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  background: rgba(152, 152, 152, 0.065);
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.talk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}

.talk h1 {
  font-family: "Big Shoulders Stencil", sans-serif;
  text-align: center;
}

.headline {
  font-size: 6.2rem;
  line-height: 1.3;
  margin: 0;
  font-family: "Big Shoulders Stencil", sans-serif;
  text-align: center;
}

.headline span {
  text-align: center;
  font-family: "Big Shoulders Stencil", sans-serif;
  color: #461d96;
}

.subtext {
  font-size: 1.2rem;
  margin: 20px 0;
  color: var(--text);
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  text-align: center;
  max-width: 80vw;
}



.cta-button:hover {
  background: #4a3deb;
}













/* Photo Gallery Styles */
.photo-gallery {
  margin: 150px auto;
  padding: 0 70px;
  max-width: 1400px;
  margin-bottom: 30px;

}

.gallery-container {
  display: flex;
  gap: 30px;
  /* background-color: #4a3deb; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

}

.gallery-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome/Safari */
}

.gallery-container {
  -ms-overflow-style: none;
  /* Hide scrollbar for IE/Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

.photo-item {
  scroll-snap-align: start;
  flex: 0 0 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  aspect-ratio: 3/2;
  transition: transform 0.3s ease;
}

.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photo-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.photo-item:hover img {
  transform: scale(1.05);
}


.service-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 70px;
  font-family: "Roboto Slab", serif;
  padding: 4rem;
  background-color: #1a1a1a1f;
  border-radius: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.service-left {
  flex: 1;
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 2rem;
}

.highlight-box h2 {
  font-family: "Big Shoulders Stencil", sans-serif;
  font-size: 2rem;
  text-align: start;
}

.highlight-box span {
  color: var(--text);
  font-family: "Big Shoulders Stencil", sans-serif;

  display: inline-block;
  border-radius: 8px;
}

.highlight-box p {
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  line-height: 1.6;
}

.cta-button {
  margin-top: 1.5rem;
  background: #000;
  font-family: "Roboto Slab", serif;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.service-right {
  flex: 1;
  display: flex;
  font-weight: bolder;
  align-items: center;
}

.service-right ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}

.service-right li {
  margin-bottom: 1rem;
  font-family: "Roboto Slab", serif;
  color: var(--text);
  position: relative;
  padding-left: 1.5rem;
}

.service-right li::before {
  content: '✔';
  color: var(--text);
  position: absolute;
  left: 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-family: "Big Shoulders Stencil", sans-serif;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 30px;
}

.card {
  background: linear-gradient(to right, #111, #1b1b2b);
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.centrica {
  display: flex;
  justify-self: center;
  padding: 6px 12px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.165);
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 0.9rem;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.08);
}

.card-icon {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background: #333;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-family: "Roboto Slab", serif;
  color: #fff;
}

.card p {
  font-size: 0.95rem;
  color: #aaa;
  font-family: "Roboto Slab", serif;
}

.starting {
  display: flex;
  justify-content: center;
  align-items: center;

}

.containerc {
  max-width: 700px;
  width: 90%;
}

.containerc h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Big Shoulders Stencil", sans-serif;
  color: var(--text);
}

.cardc {
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 20px;
  background: #1a1a1a;
  display: flex;
  align-items: flex-start;
  transition: transform 0.2s ease;
}

.cardc:hover {
  transform: scale(1.02);
}


.content h2 {
  margin: 0 0 8px;
  font-size: 1.25rem;
  color: #ffffff;
}

.content p {
  margin: 0;
  font-size: 0.95rem;
  font-family: "Roboto Slab", serif;
  color: #b0b0b0;
}

.card-planning {
  border: 3px solid rgb(142, 99, 5);
}

.card-development {
  border: 3px solid green;
}

.card-seo {
  border: 3px solid rebeccapurple;
}

.card-launch {
  border: 3px solid red;
}





/* Footer */
footer {
  padding: 50px 50px;
  background-color: #000;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unique-section {
  padding: 60px 20px;
  text-align: center;
}

.unique-section h1 {
  font-size: 2rem;
  font-family: "Big Shoulders Stencil", sans-serif;
  margin-bottom: 20px;
}

.cta-buttono {
  background: #000;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  margin-bottom: 40px;
  transition: all 0.2s ease;
}

.cta-buttono:hover {
  transform: scale(1.05);
}

.arrow {
  margin-left: 8px;
}

.comparison-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.cardp {
  background-color: #151313;
  color: #fff;
  border-radius: 20px;
  padding: 24px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8rem;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.badge.blue {
  background-color: #2563eb20;
  color: #2563eb;
  font-family: "Roboto Slab", serif;
  border: 1px solid #2563eb;
}

.badge.red {
  background-color: #ef444420;
  color: #ef4444;
  font-family: "Roboto Slab", serif;
  border: 1px solid #ef4444;
}

.card-content h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-content p {
  margin: 0;
  font-size: 0.95rem;
  color: #e0dddd;
}

.comparison-cards-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  font-size: 1.2rem;
  color: var(--text-light);
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--accent);
}

.copyright {
  text-align: center;
  margin-top: 30px;
  color: var(--text-light);
  font-size: 0.9rem;
}

@media (max-width: 902px) {
  .comparison-cards {
    flex-direction: column;
    justify-content: center;
  }

  .cardo {
    width: 45%;
  }

  .card-content h2 {
    margin-top: 50px;
  }

  header {
    padding: 20px 5vw;
    margin: 20px 30px;
    width: calc(100vw - 60px);

    box-shadow: 0 1px 10px 0 #00000024;

  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .logo {
    font-size: 1.2rem;
  }

  nav,
  .btn {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 0.3rem;
  }

  .card {
    width: 90%;
  }

  .mobile-menu {
    position: absolute;
    top: 120px;
    right: 20px;
    background: rgba(0, 0, 0, 0.236);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 15px;
    z-index: 99;
  }

  .mobile-menu a,
  .mobile-menu button {
    color: var(--text);
    text-decoration: none;
    font-size: 1rem;
    background: none;
    border: none;
    text-align: left;
  }

  .hero {
    top: 110px;
  }

  .headline {
    font-size: 3rem;
  }

  .subtext {
    font-size: 1rem;
  }

  .photo-gallery {
    padding: 0 10px;
  }

  .service-section {
    padding: 1rem;
    flex-direction: column;
    margin: 0 10px;
    margin-bottom: 30px;
  }

  .card-container {
    flex-direction: column;
  }
}
